<!DOCTYPE html>
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team Section </title>
    <link rel="stylesheet" href="{% static 'css/vv.css' %}">
    
</head>
    
<body>
    <div class="wrapper">
        <h2>Developer's Team</h2>
        <hr>
        <div class="members">
            <div class="team-mem">
                <img src="{% static 'images/vivek1.jpg' %}">
                <h4>Vivek Kumar</h4>
                <p>Fresher</p>
                <p>8789855970</p>
            </div>
            <div class="team-mem">
                <img src="{% static 'images/adarsh.jpg' %}">
                <h4>Adarsh Verma</h4>
                <p>Fresher</p>
                <p>7061327384</p>
            </div>
            <div class="team-mem">
                <img src="{% static 'images/rathore.jpg' %}">
                <h4>Abhishek Rathore</h4>
                <p>Fresher</p>
                <p>8873319030</p>
            </div>
            <div class="team-mem">
                <img src="{% static 'images/abhi.jpg' %}">
                <h4>Abhishek Kumar</h4>
                <p>Fresher</p>
                <p>9709150829</p>
            </div>
            <div class="team-mem">
                <img src="{% static 'images/prasann.jpg' %}">
                <h4>Prasann Kumar</h4>
                <p>Fresher</p>
                <p>9315472781</p>
            </div>
        </div>
    </div> 
</body>
</html>


</body>

</html>
